body{
    margin: auto;
    width: 75%;
    background-image: url(imagenes/catacumbas.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position-x: center;
}
header{
    background-color:rgb(106, 59, 35);
    color:white;
    width: 100%;
    display: flex;
}
header h1{
    margin-left: 100px;
    width: 75%;
}
header p{
    margin: auto;
    width: 50%;
}


#cuadro{
    background-color: white;
    width: 130px;
    height: 130px;
    margin: auto;
    border: 2px solid black;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
}
#ocultar{
    background-color: rgb(106, 59, 35);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
#ocultar:hover{
    background-color: lightgray;
    cursor: pointer;
}
#memorama{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2px;
    margin-top: 20px;
}